
.sg.box{
  background-color: #faf9f7;
  padding: 2rem 3rem;
}

.sg.box.alpha{
  background-color: transparent;
}

.sg.box.figure{
  padding: 0;
}

.sg.box.figure.specs > .sg.figure.sample{
  margin-top: 0.5rem;
}

.sg.box.title{
  padding: 0;
  font-size: 24px;
  font-variation-settings: "wght" 86;
  background: transparent;
  height: initial;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.sg.box p{
  width: 100%;
}
