

.sg.example {
  border: none;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  background: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: auto;
  position: relative;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #faf9f7;
  color $color-text-brown
  padding: 0;
}


.sg.example{
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
@media screen and (min-width: 30rem) {
  .sg.example{
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
@media screen and (min-width: 45rem) {
  .sg.example{
    min-width: 100%;
    margin-left: -2.75rem;
    margin-right: -2.75rem;
  }
}
@media screen and (min-width: 960px) {
  .sg.example{
    min-width: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
