[id*=".api"] + div.if > h3
  padding-top 4rem !important
  border-top 1pt solid rgba($color-base-brown-100, 0.5)
[id*=".api"] + div.if > h4
  padding-top 4rem !important
  border-top 1pt solid $color-background-dark-beige
