


.if.cards.icons
  position relative
  grid-template-columns repeat(auto-fit, minmax(64px, 1fr))
  +IDS_BREAKPOINT_MQ_Smaller_Min()
    grid-template-columns repeat(auto-fill, minmax(128px, 1fr))
  +IDS_BREAKPOINT_MQ_Small_Min()
    grid-template-columns repeat(auto-fill, minmax(128px, 1fr))
  +IDS_BREAKPOINT_MQ_Medium_Min()
    grid-template-columns repeat(auto-fill, minmax(128px, 1fr))
  +IDS_BREAKPOINT_MQ_Large_Min()
    grid-template-columns repeat(auto-fill, minmax(128px, 1fr))



.if.icon-card
  background-color $color-background-lightest-beige
  position relative
  width 100%
  height 100%
  min-height 180px
  flex-shrink 0
  flex-grow 0
  display flex
  flex-direction column
  IDS_UTIL_Border()
  IDS_TYPOGRAPHY_Text_Body()


.if.icon-card
  &:hover
  &.is-hovered
  &:focus-within
  &.is-focused-within
    &  .if.image > img,
    &  .if.image > .if
      transform scale(1.04)


.if.icon-card
  & .if.title
    position static
    display inline-block
    & > a.if,
    & > a.if:visited,
    & > a.if:hover,
    & > a.if:active,
    & > a.if.is-hovered,
    & > a.if.is-active
      position static
      line-height inherit
      color $color-text-brown
      text-decoration none
      &::after
        content ''
        position absolute
        top 0
        left 0
        bottom 0
        right 0
        z-index 2


.if.icon-card
  & .if.content
    width 100%
    height 100%
    flex-grow 1
    flex-shrink 0
    padding $size-spacing-32 $size-spacing-24 $size-spacing-16 $size-spacing-24
    display flex
    flex-direction column
    order 2



.if.icon-card
  & > .if.content
    & > .if.button
      width 100%
      max-width none
      margin 0
      z-index 2
      & + .if.button
        margin-top $size-spacing-8
      &:first-of-type
        margin-top auto


.if.icon-card
  & > .if.image
    overflow hidden
    position static
    display block
    max-width 100%
    order 1
    flex-grow 0
    flex-shrink 0
    transition all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1)
    height 180px
    & > .if
      transform-origin center center
      transition all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      backface-visibility hidden
    & > img
      max-width 100%
      width 100%
      height 100%
      object-fit contain
      transform-origin center center
      transition all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      backface-visibility hidden
      &.lifestyle
        object-fit cover

.if.cards.icons
  & .if.icon-card
    border none
    background-color transparent
    transition all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1)
    flex-grow 0
    max-width 64px
    +IDS_BREAKPOINT_MQ_Smaller_Min()
      max-width 128px
    & .if.content
      height auto
      padding 0
      padding-top 8px
      flex-grow 0

    & .if.title
      width 100%
      text-align left
      font-family "If Sans", Arial, sans-serif
      color #331e11
      font-weight normal
      line-height 1.75rem
      letter-spacing normal
      font-size 1.125rem
      font-variation-settings "wght" 104
      display inline-block
      margin-bottom 1rem

    & .if.tags
      display none
      margin-bottom 8px

    & .if.button
      display none

    &:hover,
    &.is-hovered

      z-index 4

      & .if.iconoverlay
        box-shadow 0 16px 24px 2px rgba(51,30,17, 0.14), 0 6px 30px 5px rgba(51,30,17, 0.12), 0 8px 10px -5px rgba(51,30,17, 0.2)
        opacity 1
        z-index 5
        animation openIconOverlay 0.5s cubic-bezier(0.4, 0, 0.2, 1)

      & .if.example
        border 1pt solid rgba($color-text-light-brown,0.2)
        z-index 2

      & .if.title
        z-index 2

      & .if.tags
        display flex
        margin-top auto
      & .if.button
        display inline-flex


.if.cards.icons
  & .if.icon-card
    & .if.example
      transition all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1)
      background-color $color-background-lightest-beige
      height 64px
      display flex
      justify-content center
      flex-shrink 0
      align-items center
      border 1pt solid rgba($color-text-light-brown,0)
      +IDS_BREAKPOINT_MQ_Smaller_Min()
        height 128px

.if.cards.icons

  & .if.icon-card
    & .if.iconoverlay
      position absolute
      top -1rem
      left 50%
      opacity 0
      padding 1rem
      display flex
      flex-direction column
      margin-top 0
      z-index 2
      background-color $color-background-lightest-beige
      transform translateX(-50%)


.if.iconfilter
  background-color $color-background-light-beige
  IDS_UTIL_Padding_Horizontal()
  min-height 3rem
  padding-top 1rem
  padding-bottom 1rem
  display flex



@keyframes openIconOverlay
  0%
    opacity 0
  100%
    opacity 1


.if.icon-card
  &:focus-within,
  &.is-focused-within
    IDS_UTIL_PseudoStates_Focus()
    & a:focus,
    & a.is-focused
      text-decoration none
  & a:focus,
  & a.is-focused
    text-decoration none
  & .if.title
    & > a:focus,
    & > a.is-focused
      outline none

.if.icon-card
  &:focus-within,
  &.is-focused-within
    IDS_UTIL_PseudoStates_Focus()
